* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: hsl(30, 38%, 92%);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 4rem;
}

.image {
  max-width: 500px;
  border-radius: 0.75rem 0 0 0.75rem;
}

.content {
  background-color: hsl(0, 0%, 100%);
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 500px;
  max-height: 750px;
  border-radius: 0 0.75rem 0.75rem 0;
}

.product {
  font-family: 'Montserrat';
  letter-spacing: 1rem;
  font-size: 0.85rem;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
}

.title {
  font-family: 'Fraunces';
  font-size: 3.25rem;
}

.des-txt {
  color: hsl(228, 12%, 48%);
  font-size: 1.15rem;
  line-height: 1.75rem;
  min-width: 20rem;
  max-width: 21rem;
}

.price {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-top: 1rem;
}

.sale-price {
  color: hsl(158, 36%, 37%);
  font-size: 3.25rem;
  font-family: 'Fraunces';
}

.original-price {
  color: hsl(228, 12%, 48%);
}

.button {
  background-color: hsl(158, 36%, 37%);
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  padding: 1.25rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  margin-top: 1rem;
}

.button img {
  width: 20px;
}

.button:hover {
  background-color: hsl(158, 58%, 21%);
}

.attribution {
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

@media only screen and (max-width: 1000px) {
  .container {
    grid-template-columns: 1fr;
  }
  .image {
    aspect-ratio: 1 / 1;
    border-radius: 0.75rem 0.75rem 0 0;
    max-width: 370px;
  }
  .content {
    border-radius: 0 0 0.75rem 0.75rem;
    max-width: 370px;
    gap: 1rem;
    padding: 2rem;
  }

  .title {
    font-size: 2.2rem;
  }
  .des-txt {
    font-size: 0.75rem;
  }
  .button {
    margin-top: 0;
  }
  .sale-price {
    font-size: 2rem;
  }
}
